@media screen and (max-width: 576px) {
  .wrapper {
    padding: 0 50px;
  }
  header {
    height: 100%;
    width: 100%;
  }
  nav .mainmenu {
    align-items: center;
  }
  nav .mainmenu,
  nav .mainmenu .menu ul {
    flex-direction: column;
  }
  nav .mainmenu .menu ul li {
    margin-top: 20px;
  }
  nav .mainmenu .logo .text {
    font-size: 28px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner .ban-right {
    width: 100%;
  }
  .banner .ban-right img {
    width: 100%;
    float: none;
  }
  .banner .ban-left {
    align-items: center;
    padding: 20px 0;
  }
  .banner .ban-left h2 {
    font-size: 30px;
  }
  .banner .ban-left h1 {
    font-size: 55px;
  }
  .banner .ban-left ul li {
    font-size: 11px;
  }
  nav .mainmenu .menu ul li:last-child {
    margin-right: 0;
  }
  .banner .ban-left .ban-left-btn button {
    padding: 10px 20px;
  }
  .mainabout .about-right .content {
    text-align: center;
  }
  .mainabout .about-right .content p {
    text-align: center;
  }
  .mainabout .about-right .content h2 {
    text-align: center;
  }
  .mainabout {
    grid-template-columns: repeat(1, 1fr);
  }
  .mainservices .ser-left h2 span {
    display: block;
  }
  .onlinegames .onl-cards .card h2 {
    font-size: 20px;
  }
  /*  */
  .onlinegames .onl-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .mainservices {
    flex-direction: column;
  }
  .mainservices .ser-left {
    padding: 0 20px;
    text-align: center;
  }
  .mainservices .ser-left h2 {
    font-size: 25px;
    font-weight: 700;
  }
  .mainservices {
    gap: 50px;
  }
  .mainservices .ser-left p {
    font-size: 13px;
  }
  .mainservices .ser-right .tag-img img,
  .ser2 .ser-right .tag-img img {
    width: 40%;
  }
  .mainservices .ser-right .main-img {
    width: 70%;
    display: flex;
    margin: 0 auto;
  }
  .mainservices .ser-right .tag-img {
    left: 5%;
  }
  .cat .card {
    width: 90px;
    padding: 5px;
  }
  .cat .card h2 {
    margin-left: 7px;
    font-size: 7px;
  }
  .cat .card:hover {
    border: 1px solid var(--primary-color);
  }
  .foot-menu ul,
  .mainfoot .social ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .mainfoot .imp-links ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .mainfoot .foot-menu ul li,
  .imp-links ul li,
  .mainfoot .social ul li {
    margin-top: 20px;
  }
  .onlinegames .title h1 {
    font-size: 21px;
  }
  .onlinegames .title p {
    font-size: 14px;
  }
  .mainabout .about-right .content .quited {
    font-size: 15px;
  }
  .mainabout .about-right .content .quited span {
    font-size: 15px;
  }
  .mainfoot .copyright {
    margin-top: 40px;
    padding: 0 92px;
  }
  .mainfoot .imp-links ul li a {
    margin-right: 0;
  }
  .mainfoot {
    padding: 50px 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .wrapper {
    padding: 0 50px;
  }
  section {
    padding: 40px 0;
  }
  nav .mainmenu .menu ul li:last-child {
    margin-right: 0;
  }
  nav .mainmenu .menu ul li:last-child {
    padding: 8px 10px;
    text-align: center;
  }
  nav .mainmenu .menu ul li:last-child span {
    display: block;
  }
  .banner .ban-left h2 {
    font-size: 32px;
  }
  .banner .ban-left h1 {
    font-size: 70px;
    margin: 8px 0;
  }
  .banner .ban-left ul li {
    font-size: 13px;
  }
  .banner .ban-left .ban-left-btn button {
    display: inline-flex;
    padding: 10px 20px;
  }
  .banner .ban-left {
    padding: 30px 0;
  }
  .mainabout .about-left {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .mainabout .about-right .content h2 {
    font-size: 40px;
  }
  .mainabout .about-right .content p {
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    margin: 13px 0;
  }
  .mainabout .about-right .content button {
    padding: 10px 20px;
  }
  .mainabout .about-right .content .quited {
    font-size: 18px;

    line-height: 26px;
    margin-top: 15px;
  }
  .onlinegames .title h1 {
    font-size: 30px;
  }
  .onlinegames .title p {
    font-size: 14px;
    margin-top: 5px;
  }
  .onlinegames .onl-cards .card h2 {
    font-size: 11px;
  }
  .mainservices .ser-left h2 {
    font-size: 25px;
    font-weight: 700;
  }
  .mainservices .ser-right .tag-img img {
    width: 50%;
  }
  .mainservices .ser-left p {
    font-size: 13px;
    margin-top: 20px;
  }
  .mainservices .ser-left h2 span {
    display: block;
  }
  .ser2 .ser-right .tag-img img {
    width: 70%;
  }
}
