@media screen and (max-width: 576px) {
  .wrapper {
    padding: 0 50px;
  }
  header {
    height: 100%;
    width: 100%;
  }
  nav .mainmenu {
    align-items: center;
  }
  nav .mainmenu,
  nav .mainmenu .menu ul {
    flex-direction: column;
  }
  nav .mainmenu .menu ul li {
    margin-top: 20px;
  }
  nav .mainmenu .logo .text {
    font-size: 28px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .banner .ban-right {
    width: 100%;
  }
  .banner .ban-right img {
    width: 100%;
    float: none;
  }
  .banner .ban-left h2 {
    font-size: 30px;
  }
  .banner .ban-left h1 {
    font-size: 55px;
  }
  .banner .ban-left ul li {
    font-size: 11px;
  }
  nav .mainmenu .menu ul li:last-child {
    margin-right: 0;
  }
  .banner .ban-left .ban-left-btn button {
    padding: 10px 20px;
  }
  .mainabout {
    grid-template-columns: repeat(1, 1fr);
  }
  /*  */
  .onlinegames .onl-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .mainservices {
    flex-direction: column;
  }
  .mainservices .ser-left {
    padding: 0 20px;
    text-align: center;
  }
  .mainservices .ser-left h2 {
    font-size: 35px;
    font-weight: 700;
  }
  .mainservices .ser-right .tag-img img,
  .ser2 .ser-right .tag-img img {
    width: 40%;
  }
  .mainservices .ser-right .tag-img {
    left: -13%;
  }
  .cat .card {
    width: 95px;
    padding: 5px;
  }
  .cat .card h2 {
    margin-left: 12px;
    font-size: 10px;
  }
  .cat .card:hover {
    border: 1px solid var(--primary-color);
  }
  .foot-menu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
